header {
    
    color: #2e99a9;
  
}

p {
 padding-left: 10px;
} 
.gorira {
  background-color:#00FF00 ;
  height: 50px;
}

.line {
  
  margin-top: 30px;
  padding-bottom: 30px;
}

.top {
  margin-top: 10px;
}

hr {
    border-width: 3px;
    border-color: #2e99a9;
}

h1 { 
 font-weight: bold;
 color: white;
}


.btn-primary {
  margin-bottom: 30px;
  
}

.grey {
  background-color: silver;
}

.waku {
  border:solid 1px #CCCCCC;
  margin-bottom: 10px;
}

